/**{
  margin : 0;
  padding : 0;
  border : 0;
  background-color: #EEEEEE;
}
*/
#screen{
  width:900px;
  height:600px;
  background-color: #EEEEFF;
}

div.control_box{
  width:900px;
  background-color : gray;
  padding-top:10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

div.country_filter{
  margin-left: 10px;
  margin-bottom: 10px;
}

div.control_box button#loadData{
  width:80px;
  height:20px;
  margin-left:10px;
  margin-bottom: 20px;
}

div.index_div{
  float :left;
  margin-right : 20px;
  margin-top :5px;
  margin-bottom: 5px;
  width: 100%;
  overflow:hidden;
}

div.index_div input{
  width:120px;
}


div.index_div label{
  margin-left: 10px;
  display: inline-block;
  width:40px;
}

div.index_div label.range{
  margin-left:0px;
  width:30px;
}

div.index_div select{
  width: 130px;
}
