/**{
  margin : 0;
  padding : 0;
  border : 0;
  background-color: #EEEEEE;
}
*/
#screen{
  width:900px;
  height:600px;
  background-color: #EEEEFF;
}

div.control_box{
  width:900px;
  height:55px;
  background-color : gray;
}

div.index_div{
  float :left;
  margin-right : 20px;
  width: 180px;
  overflow:hidden;
}

div.index_div select{
  width: 130px;
}
